<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% if form.instance.pk %}Editar{% else %}Adicionar Novo{% endif %} Voo</title>
</head>
<body>
    <h1>{% if form.instance.pk %}Editar{% else %}Adicionar Novo{% endif %} Voo</h1>
    <form method="post" action="{% if form.instance.pk %}{% url 'editar_voo' pk=form.instance.pk %}{% else %}{% url 'novo_voo' %}{% endif %}">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Salvar</button>
    </form>
    <a href="{% url 'lista_voos' %}">Cancelar</a>
</body>
</html>
